a {
	color: #9DC7C8; /*pastel blue*/
}

a:hover, 
a:active,
a:focus {
	text-decoration: none;
	color: #373F51;
}

h3.amount {
	text-align: right;
	margin-top: 10px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.welcome {
	text-align: center;
}

.pad {
	padding-left: 5px;
	padding-right: 5px;
}

.row {
	padding: 5px;
}

.border {
	width: 100%;
	padding: 0 10px;
	margin: 0 auto 10px auto;
	border-radius: 5px;
	border: 1px #373F51 solid;
	display: inline-block;
}


.stats {
	min-height: 120px;
}

.stats h3.subtitle {
	margin-top: 0px;
	margin-bottom: 10px;
}


/* The side navigation menu */
.navbar {
	background-color: #9DC7C8; /*pastel blue*/
	margin-bottom: 0;
}

.icon-bar {
	background-color: #fff!important;
}

.navbar-toggle {
	float: left;
	margin-left: 5px;
	border: 0;
}

.navbar-toggle:hover {
	background-color: transparent!important;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #4A4A48; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #F1F2EB;
    display: block;
    transition: 0.3s
}

.sidenav a:hover,
.offcanvas a:focus {
	background-color: #F1F2EB;
	color: #4A4A48;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}

.sidenav .closebtn:hover,
.sidenav .closebtn:focus {
	background-color: #4A4A48;
	color: #F1F2EB;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}